<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= movies.title %></title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="header">
      <h1>Superheroes</h1>
      <p>Favorite Superheros</p>
    </div>
    <div class="container">
      <% movies.forEach(movie => { %>
      <div class="hero-card">
        <img
          class="hero-img"
          src="<%= movie.image %>"
          alt="<%= movie.name %>"
        />
        <h3><%= movie.name %></h3>
        <h4><%= movie.superpower %></h4>
        <p><strong>Description:</strong><%= movie.description %></p>
        <p><Strong>Background history:</Strong><%= movie.background %></p>
      </div>
      <% }) %>
    </div>
  </body>
</html>
